<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Import CSV</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">CSV2Table</span>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/import-csv">Import CSV</a>
            <a class="nav-item nav-link" href="/manage-csv">Manage CSV</a>
        </div>
    </nav>
    <div>
        <form class="form" method="POST" th:action="@{/preview-csv}" enctype="multipart/form-data">
            <div class="form-group m-3">
                <label for="file">Select a CSV file</label>
                <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
            </div>

            <button type="submit" class="btn btn-primary">Preview Data</button>
        </form>
    </div>
</div>
</body>

</html>