<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>CSV2Dataset</title>
    <!-- CSS only -->
    <link href="../static/css/csv2table.css" th:href="@{/css/csv2table.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid">
    <div th:insert="navbar"/>
    <h2>Import Dataset</h2>
    This is where you can upload any CSV file to process into Avro files.
    <img th:src="@{/img/Import_Dataset.png}" width="50%" class="shadow-2-strong"/>
    <h2>Preview Dataset</h2>
    This page shows you a preview of the rows before you process the import. It also allows you to specify a dataset
    name and other metadata to store for the Avro schema.
    <img th:src="@{/img/Preview_Dataset.png}" width="50%" class="shadow-2-strong"/>
    <h2>Manage Datasets</h2>
    This page has a dropdown of all the Avro files imported. Clicking "View" shows the file metadata and full data using
    Avro DatafileReader that makes page load very snappy.
    <img th:src="@{/img/Manage_Datasets.png}" width="50%" class="shadow-2-strong"/>
</div>
</body>

</html>